ACTION=="add", SUBSYSTEMS=="usb", ATTR{product}=="6 inch PenTablet", RUN+="/usr/local/bin/on-tablet-add.sh"
ACTION=="remove", SUBSYSTEMS=="usb", ATTR{product}=="6 inch PenTablet", RUN+="/usr/local/bin/on-tablet-remove.sh"
